input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 5000s ease-in-out 0s;
  transition: 5000s ease-in-out 0s;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  max-width: initial;
}

.hide {
  display: none;
}

.header {
  background-color: #363636;
}

.header--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header--content {
    flex-direction: column;
  }
}

.header .logo {
  display: flex;
  justify-content: flex-start;
  flex: 0.5;
}

.header .logo--img {
  width: 150px;
  padding: 10px 0;
}

.header .search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0.75;
}

.header .search--input {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 2.5px solid #ff6600;
}

.header .search--icon {
  display: flex;
  background-color: #ff6600;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header .search {
    width: 100%;
  }
}

.header .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
}

@media (max-width: 768px) {
  .header .cart {
    width: 200px;
  }
}

.header .cart--icon {
  cursor: pointer;
  margin: 0 15px;
  position: relative;
}

.header .cart--icon-total {
  background-color: #ff6600;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  align-items: center;
  right: -13px;
  top: -13px;
  position: absolute;
  font-size: 12px;
  display: flex;
  justify-content: center;
  border: 1px solid #363636;
}

.header .menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ff6600;
}

.header .menu .menu--icon {
  display: none;
}

.header .menu--mobile {
  display: none;
  flex: 0.25;
}

.header .menu--list {
  background-color: #ff6600;
  display: flex;
  justify-content: flex-start;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.header .menu--item {
  display: flex;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.header .menu--item a {
  text-decoration: none;
  color: #fff;
  padding: 5px 0;
}

.header .menu--item-active,
.header .menu--item:hover {
  background-color: #cc5100;
}

.header .menu--icon {
  cursor: pointer;
  float: right;
  padding: 30px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu--icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .menu--icon .navicon:before,
.header .menu--icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu--icon .navicon:before {
  top: 5px;
}

.header .menu--icon .navicon:after {
  top: -5px;
}

.header .menu--button {
  display: none;
}

.header .menu--button:checked ~ .menu--icon .navicon {
  background: transparent;
}

.header .menu--button:checked ~ .menu--icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu--button:checked ~ .menu--icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu--button:checked ~ .menu--icon:not(.steps) .navicon:before,
.header .menu--button:checked ~ .menu--icon:not(.steps) .navicon:after {
  top: 0;
}

@media (max-width: 768px) {
  .header .menu .menu--icon {
    display: flex;
  }

  .header .menu.active .menu--list {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 62px;
  }

  .header .menu--list {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .header .menu--item {
    width: 100%;
  }

  .header .menu--mobile {
    display: flex;
    background-color: #363636;
  }

  .header .menu--mobile .menu--icon {
    background-color: #ff6600;
  }
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 500px;
  overflow: hidden;
}

.banner--text {
  position: absolute;
  color: #fff;
  max-width: 800px;
  text-align: center;
}

.banner--title {
  font-size: 62px;
  font-weight: bold;
}

.banner--subtitle {
  margin-top: 10px;
  font-size: 22px;
}

@media (max-width: 768px) {
  .banner--text {
    max-width: 300px;
  }

  .banner--title {
    font-size: 24px;
  }

  .banner--subtitle {
    font-size: 18px;
  }

  .banner--img {
    margin-top: 0;
  }
}

