.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
        position: absolute;
        color: #fff;
        max-width: 800px;
        text-align: center;
    }
    &__title {
        font-size: 62px;
        font-weight: bold;
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 22px;
    }
    .simpleParallax {
        height: auto;
        position: relative;
        max-height: 850px;
    }

    @media (max-width: 768px) {
        &__text {
            max-width: 300px;
        }

        &__title {
            font-size: 24px;
        }

        &__subtitle {
            font-size: 18px;
        }
        &__img {
            margin-top: 0;
        }
    }
}
