.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: $black;
    color: $white;

    button {
        cursor: pointer;
    }

    label {
        font-weight: bold;
        color: $gray;
        margin: 5px 2px;
        float: left;
    }

    &__title {
        font-size: 44px;
        color: $orange;
        margin-bottom: 40px;
        text-align: center;
        font-weight: bold;
    }

    &__items {
        display: flex;
        max-width: 1230px;
        flex-direction: row;
    }

    &__form p {
        padding-bottom: 10px;
        font-weight: bold;
    }

    &__desctiption {
        display: flex;
        flex-direction: column;
        padding-left: 50px;

        p,
        b {
            padding-bottom: 20px;
        }

        p,
        a {
            color: $gray;
        }

        .phone {
            a {
                color: $orange;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    color: $orange-dark;
                }
            }
        }

        .whatsapp {
            &::before {
                content: "";
                background-image: url("../images/whatsapp-icone.png");
                width: 26px;
                height: 26px;
                display: block;
                background-size: 100%;
                top: 15px;
                left: 25px;
                position: absolute;
            }

            cursor: pointer;
            color: $white;
            background: $orange;
            padding: 19px;
            margin-bottom: 20px;
            max-width: 250px;
            border-radius: 5px;
            text-decoration: none;
            position: relative;
            padding-left: 50px;
            text-align: center;

            &:hover {
                background: $orange-dark;
            }
        }

        .facebook-link img {
            width: 24px;
        }
    }

    &__captcha {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        img {
            width: 100%;
            max-width: 600px;
        }
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 32px;
        }

        &__items {
            flex-direction: column;
        }

        &__desctiption {
            padding-left: 0px;
            margin-top: 20px;
            text-align: center;
        }

        .whatsapp {
            &::before {
                left: 20px;
            }

            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}
