.header {
    background-color: #363636;

    &--content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        max-width: 1300px;
        margin: 0 auto;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        flex: 0.5;
        padding: 10px 0;
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0.75;

        &--input {
            padding: 10px;
            width: 100%;
            max-width: 400px;
            border: 3px solid #ff6600;
        }

        &--icon {
            display: flex;
            background-color: #ff6600;
            padding: 10px;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 12px;

        @media (max-width: 768px) {
            width: 200px;
        }

        &--icon {
            cursor: pointer;
            margin: 0 15px;
            position: relative;

            &-total {
                background-color: #ff6600;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                align-items: center;
                right: -13px;
                top: -13px;
                position: absolute;
                font-size: 12px;
                display: flex;
                justify-content: center;
                border: 1px solid #363636;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #ff6600;

        .menu--icon {
            display: none;
        }

        &--mobile {
            display: none;
            flex: 0.25;
        }

        &--list {
            background-color: #ff6600;
            display: flex;
            justify-content: flex-start;
            max-width: 1300px;
            width: 100%;
            margin: 0 auto;
            padding: 0 10px;
        }

        &--item {
            display: flex;
            padding: 10px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;

            a {
                text-decoration: none;
                color: #fff;
                padding: 5px 0;
            }

            &-active,
            &:hover {
                background-color: #cc5100;
            }
        }

        &--icon {
            cursor: pointer;
            float: right;
            padding: 30px 20px;
            position: relative;
            user-select: none;

            .navicon {
                background: #fff;
                display: block;
                height: 2px;
                position: relative;
                width: 18px;

                &:before,
                &:after {
                    background: #fff;
                    content: "";
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all 0.2s ease-out;
                    width: 100%;
                }

                &:before {
                    top: 5px;
                }

                &:after {
                    top: -5px;
                }
            }
        }

        &--button {
            display: none;

            &:checked ~ .menu--icon .navicon {
                background: transparent;

                &:before {
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                }
            }
        }

        &--button:checked ~ .menu--icon:not(.steps) .navicon:before,
        &--button:checked ~ .menu--icon:not(.steps) .navicon:after {
            top: 0;
        }

        @media (max-width: 768px) {
            .menu--icon {
                display: flex;
                width: 60px;
            }

            &.active {
                .menu--list {
                    display: flex;
                    align-items: flex-start;
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                    top: 62px;
                }
            }

            &--list {
                display: none;
                flex-direction: column;
                width: 100%;
                padding: 0;
            }

            &--item {
                width: 100%;
            }

            &--mobile {
                display: flex;
                background-color: #363636;

                .menu--icon {
                    background-color: #ff6600;
                }
            }
        }
    }
}
