.header {
    &--content {
        display: flex;
        align-items: center;
        height: 95px;
        padding: 0 10px;
        background-color: #363636;

        @media (max-width: 768px) {
            justify-content: space-between;
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        flex: 0.25;

        &--img {
            width: 150px;
            padding: 10px 0;
        }
    }

    .search {
        display: flex;
        flex: 0.5;
        margin: 0 40px;

        &--mobile {
            display: none;
        }

        &--input {
            padding: 5px;
            width: 100%;
        }

        &--icon {
            display: flex;
            background-color: #ff6600;
            padding: 5px 10px;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            display: none;

            &--mobile {
                display: flex;
                max-width: 100%;
            }
        }
    }

    .cart {
        display: flex;
        justify-content: center;
        flex: 0.25;

        &--icon {
            cursor: pointer;
            margin-left: 10px;
        }
    }

    .menu {
        &--mobile {
            display: none;
            flex: 0.25;
        }

        &--list {
            display: flex;
            justify-content: center;
            background-color: #ff6600;
        }

        &--item {
            display: flex;
            padding: 10px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;

            a {
                text-decoration: none;
                color: #fff;
                padding: 5px 0;
            }

            &-active,
            &:hover {
                background-color: #cc5100;
            }
        }

        &--icon {
            cursor: pointer;
            float: right;
            padding: 46px 20px;
            position: relative;
            user-select: none;

            .navicon {
                background: #fff;
                display: block;
                height: 2px;
                position: relative;
                width: 18px;

                &:before,
                &:after {
                    background: #fff;
                    content: "";
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all 0.2s ease-out;
                    width: 100%;
                }

                &:before {
                    top: 5px;
                }

                &:after {
                    top: -5px;
                }
            }
        }

        &--button {
            display: none;

            &:checked ~ .menu--icon .navicon {
                background: transparent;

                &:before {
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                }
            }
        }

        &--button:checked ~ .menu--icon:not(.steps) .navicon:before,
        &--button:checked ~ .menu--icon:not(.steps) .navicon:after {
            top: 0;
        }

        @media (max-width: 768px) {
            display: none;

            &.active {
                position: fixed;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                height: calc(100vh - 95px);
                top: 95px;
                width: 100%;
                background-color: rgb(0 0 0 / 50%);
                z-index: 1;
            }

            &--list {
                flex-direction: column;
                width: 100%;
            }

            &--item {
                width: 100%;
            }

            &--mobile {
                display: flex;
            }
        }
    }
}
