.product_details {
    display: flex;

    &__main-image {
        border-radius: 5px;
        border: 1px solid $gray;

        img {
            max-height: 400px;
            width: auto;
        }
    }

    &__images {
        width: 50%;
    }
}
