.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;

    &__title {
        font-size: 44px;
        color: #ff4c00;
        margin-bottom: 40px;
        text-align: center;
        font-weight: bold;
    }

    &__items {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .service_item {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        text-align: center;

        &__image {
            max-width: 50%;
            margin-bottom: 20px;
            img {
                max-width: 500px;
                margin: 0 auto;
            }
        }
        &:nth-of-type(even) {
            flex-direction: row-reverse;
            .service_item__image {
                padding-left: 40px;
            }
        }
        &:nth-of-type(odd) {
            .service_item__image {
                padding-right: 40px;
            }
        }

        &__info {
            max-width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &__title {
            margin-bottom: 20px;
            font-size: 22px;
            color: #151515;
        }

        &__description {
            font-size: 16px;
            color: #575757;
            line-height: 22px;
            max-width: 800px;
        }
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 32px;
        }
        .service_item {
            flex-direction: column;
            &:nth-of-type(even) {
                flex-direction: column;
                .service_item__image {
                    padding: 0px;
                }

            }
            &:nth-of-type(odd) {
                flex-direction: column;
                .service_item__image {
                    padding: 0px;
                }
            }

            &__image,
            &__info {
                max-width: 100%;
            }
        }
    }
}

